<huge>
<center> 
    
# Introduccion a Pandas

In [1]:
#importar librerias
import pandas as pd

In [2]:
#load data
df = pd.read_csv('C:/Users/jorge/Desktop/Linkedin DATASCIENCE/CURSO/data/2008.csv', nrows=100000) #- set a size value of rows
print(df.shape)

(100000, 29)

In [3]:
#print head of data
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [4]:
#print tail of data
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
#print labels of columns
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
#check type variables 
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

# Filters

In [7]:
#filter by column ArrDelay.
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [8]:
#filter return specif columns
df[100:110]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,1,3,4,826.0,825,930.0,925,WN,136,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
102,2008,1,3,4,1818.0,1740,1916.0,1840,WN,391,...,2.0,10.0,0,NaN,0,20.0,0.0,0.0,0.0,16.0
103,2008,1,3,4,650.0,650,748.0,750,WN,670,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104,2008,1,3,4,2146.0,2055,2250.0,2155,WN,815,...,3.0,13.0,0,NaN,0,4.0,0.0,4.0,0.0,47.0
105,2008,1,3,4,2241.0,1910,2340.0,2010,WN,1072,...,3.0,13.0,0,NaN,0,114.0,0.0,0.0,0.0,96.0
106,2008,1,3,4,1409.0,1355,1513.0,1500,WN,1328,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
107,2008,1,3,4,1100.0,1050,1157.0,1155,WN,1586,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108,2008,1,3,4,1306.0,1250,1406.0,1355,WN,1838,...,2.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
109,2008,1,3,4,1726.0,1630,1832.0,1740,WN,2284,...,2.0,18.0,0,NaN,0,1.0,0.0,0.0,0.0,51.0

In [9]:
#filter by ArrDelay less than 60 min
df[df["ArrDelay"]<60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [10]:
#filter by ArrDelay greater than 60 min
df[df["ArrDelay"] > 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [11]:
#filter when Origin is equal to AUS
df[df["Origin"]=="AUS"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2458,2008,1,4,5,713.0,700,913.0,855,WN,222,...,3.0,14.0,0,NaN,0,0.0,13.0,5.0,0.0,0.0
2459,2008,1,4,5,2118.0,1920,2304.0,2115,WN,330,...,7.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,109.0
2460,2008,1,4,5,1048.0,1050,1236.0,1240,WN,1422,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2461,2008,1,4,5,1414.0,1415,1810.0,1815,WN,1001,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2462,2008,1,4,5,923.0,925,1323.0,1325,WN,3489,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [12]:
#filter when Origin is equal to AUS and ArrDelay is greather than 60min
#both conditions must be true
df[(df["Origin"]=="AUS") & (df["ArrDelay"] > 60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2459,2008,1,4,5,2118.0,1920,2304.0,2115,WN,330,...,7.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,109.0
11967,2008,1,7,1,2042.0,1925,2137.0,2030,WN,3862,...,4.0,6.0,0,NaN,0,0.0,0.0,0.0,0.0,67.0
18834,2008,1,9,3,2205.0,2025,2243.0,2110,WN,2529,...,3.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,93.0
38435,2008,1,15,2,1608.0,1340,1915.0,1705,WN,557,...,5.0,6.0,0,NaN,0,1.0,0.0,0.0,0.0,129.0
45259,2008,1,17,4,2030.0,1850,2115.0,1945,WN,288,...,2.0,9.0,0,NaN,0,80.0,0.0,0.0,0.0,10.0

In [13]:
#Filter where Origin is equal to AUS or HOU. 
df[df.Origin.isin(["HOU", "AUS"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2458,2008,1,4,5,713.0,700,913.0,855,WN,222,...,3.0,14.0,0,NaN,0,0.0,13.0,5.0,0.0,0.0
2459,2008,1,4,5,2118.0,1920,2304.0,2115,WN,330,...,7.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,109.0
2460,2008,1,4,5,1048.0,1050,1236.0,1240,WN,1422,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2461,2008,1,4,5,1414.0,1415,1810.0,1815,WN,1001,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2462,2008,1,4,5,923.0,925,1323.0,1325,WN,3489,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [14]:
#Print num of Nan in ArrDelay.
df[pd.isna(df["ArrDelay"])].head()
print(len(df[pd.isna(df["ArrDelay"])].head()))

5

# TRANSFORMACIONES EN PYTHON USING PANDAS

In [15]:
df["HoursDelay"] = round(df["ArrDelay"]/60)

In [16]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [17]:
del(df["HoursDelay"])

In [18]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [19]:
#Forma de borrado de columnas
df.drop(["Diverted", "Cancelled", "Year"],axis =1)

#borrado de columnas sin necesidad de reescribir el df
#df.drop(["Diverted", "Cancelled", "Year"],axis =1, implaces=True)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,25,5,2204.0,1935,106.0,2257,XE,7676,N11181,...,OKC,866,4.0,17.0,NaN,0.0,0.0,0.0,0.0,129.0
99996,1,26,6,1933.0,1935,2234.0,2257,XE,7676,N16170,...,OKC,866,4.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
99997,1,27,7,2047.0,1935,2400.0,2257,XE,7676,N12167,...,OKC,866,6.0,18.0,NaN,23.0,0.0,0.0,0.0,40.0
99998,1,28,1,1956.0,1935,2308.0,2257,XE,7676,N16170,...,OKC,866,5.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
99999,1,29,2,1938.0,1935,2308.0,2257,XE,7676,N11176,...,OKC,866,5.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [21]:
#delete rows.
df.drop(0)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [22]:
#delete rows per range
df.drop(range(0,10))
#df.drop(range(0,10), implaces=True)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,1426.0,1430,1426.0,1425,WN,829,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,715.0,715,720.0,710,WN,1016,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2008,1,3,4,1702.0,1700,1651.0,1655,WN,1827,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [23]:
#add new rows
dfAUS = df[df.Origin == "AUS"]
dfHOU = df[df.Origin == "HOU"]

In [24]:
newdf = dfAUS.append(dfHOU)

In [25]:
newdf.Origin.unique()

array(['AUS', 'HOU'], dtype=object)

Using Groupby = AGrupar por categorias.

In [26]:
#El retraso maximo, que ha tenido cada dia de la semana en nuestra data.
df.groupby(by= "DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    431.0
2    360.0
3    422.0
4    486.0
5    364.0
6    500.0
7    367.0
Name: ArrDelay, dtype: float64

In [27]:
#media de retraso para cada dia de retraso
df.groupby(by= "DayOfWeek")["ArrDelay"].mean()

DayOfWeek
1     4.568960
2     0.446479
3    -1.646511
4    13.387922
5     7.684948
6     2.069280
7    12.190625
Name: ArrDelay, dtype: float64

In [28]:
#el retraso minimo que ha tenido cada dia de la semana.
df.groupby(by= "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1   -56.0
2   -48.0
3   -48.0
4   -45.0
5   -52.0
6   -49.0
7   -57.0
Name: ArrDelay, dtype: float64

In [29]:
df.groupby(by= "DayOfWeek")["ArrDelay"].count()

DayOfWeek
1    14349
2    14471
3    14504
4    16774
5    14350
6    11172
7    13078
Name: ArrDelay, dtype: int64

In [30]:
df.groupby(by= "DayOfWeek")["ArrDelay"].describe()

             count       mean        std   min   25%  50%   75%    max
DayOfWeek
1          14349.0   4.568960  29.047008 -56.0  -9.0 -3.0   9.0  431.0
2          14471.0   0.446479  21.617710 -48.0 -10.0 -4.0   5.0  360.0
3          14504.0  -1.646511  18.464538 -48.0 -11.0 -5.0   3.0  422.0
4          16774.0  13.387922  38.490537 -45.0  -7.0  2.0  19.0  486.0
5          14350.0   7.684948  28.156892 -52.0  -7.0  0.0  14.0  364.0
6          11172.0   2.069280  27.866895 -49.0 -11.0 -4.0   6.0  500.0
7          13078.0  12.190625  41.925311 -57.0  -9.0  0.0  16.0  367.0

In [31]:
df.groupby(["DayOfWeek"])[["ArrDelay","DepDelay"]].mean()

            ArrDelay   DepDelay
DayOfWeek
1           4.568960   9.141704
2           0.446479   5.192300
3          -1.646511   3.680816
4          13.387922  16.511031
5           7.684948  12.067975
6           2.069280   8.080861
7          12.190625  17.135919

In [32]:
df.groupby("DayOfWeek")["ArrDelay"].max() - df.groupby(by= "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    487.0
2    408.0
3    470.0
4    531.0
5    416.0
6    549.0
7    424.0
Name: ArrDelay, dtype: float64

In [33]:
dfAUSHOU = df[df.Origin.isin(["AUS","HOU"])]

In [34]:
#frente a los dias de la semana los vuelos que salen de las ciudades, y ver 
#o comparar cual sale mas retrasado.
dfAUSHOU.groupby(by=["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          AUS       -0.911017
           HOU        1.767764
2          AUS        0.770492
           HOU        1.624348
3          AUS       -2.187755
           HOU        3.026178
4          AUS        5.111111
           HOU       21.047535
5          AUS        4.097458
           HOU        6.853448
6          AUS       -4.420455
           HOU       -0.967172
7          AUS        5.509259
           HOU        7.842629
Name: ArrDelay, dtype: float64

In [35]:
dfAUSHOU.groupby(by=["Origin","DayOfWeek"])["ArrDelay"].mean()

Origin  DayOfWeek
AUS     1            -0.911017
        2             0.770492
        3            -2.187755
        4             5.111111
        5             4.097458
        6            -4.420455
        7             5.509259
HOU     1             1.767764
        2             1.624348
        3             3.026178
        4            21.047535
        5             6.853448
        6            -0.967172
        7             7.842629
Name: ArrDelay, dtype: float64

# Gestion de informaciÃ³n duplicada.

In [36]:
dfduplicate = df.append(df)

In [37]:
dfduplicate = dfduplicate.sample(frac=1)

In [38]:
dfclean = dfduplicate.drop_duplicates()

In [39]:
len(dfclean) == len(dfduplicate)

False

In [40]:
len(dfclean)

100000

In [41]:
dfclean.drop_duplicates(subset="DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
65366,2008,1,23,3,1249.0,1250,1527.0,1525,WN,495,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
27966,2008,1,11,5,1119.0,1045,1420.0,1425,WN,3240,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
75254,2008,1,26,6,709.0,715,1014.0,1035,WN,1662,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
80844,2008,1,28,1,1800.0,1805,1906.0,1915,WN,3065,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
57007,2008,1,20,7,1056.0,1055,1210.0,1205,WN,2627,...,13.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
94199,2008,1,31,4,1200.0,1210,1255.0,1307,XE,100,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24295,2008,1,10,4,1622.0,1550,1745.0,1715,WN,2525,...,2.0,16.0,0,NaN,0,0.0,0.0,11.0,0.0,19.0
51286,2008,1,18,5,1420.0,1355,1533.0,1510,WN,1230,...,5.0,14.0,0,NaN,0,23.0,0.0,0.0,0.0,0.0
69634,2008,1,24,4,1907.0,1910,2154.0,2200,WN,2976,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
29068,2008,1,12,6,1558.0,1600,1704.0,1715,WN,806,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
85773,2008,1,29,2,2109.0,2115,2234.0,2240,WN,3758,...,3.0,4.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
20670,2008,1,9,3,1300.0,1305,1355.0,1410,WN,2361,...,2.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
60191,2008,1,21,1,1552.0,1535,1601.0,1545,WN,1533,...,6.0,6.0,0,NaN,0,8.0,0.0,0.0,0.0,8.0
78265,2008,1,27,7,1230.0,1230,1342.0,1400,WN,34,...,2.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
44544,2008,1,16,3,714.0,715,830.0,835,WN,142,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
72534,2008,1,25,5,1410.0,1410,1530.0,1515,WN,427,...,6.0,23.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
53375,2008,1,19,6,1022.0,1020,1353.0,1350,WN,1439,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
34565,2008,1,13,7,1632.0,1615,1641.0,1635,WN,3953,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
38902,2008,1,15,2,1403.0,1405,1444.0,1455,WN,558,...,3.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
88210,2008,1,30,3,946.0,950,1158.0,1205,WN,272,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
95881,2008,1,6,7,1822.0,1740,2305.0,2233,XE,22,...,5.0,15.0,0,NaN,0,11.0,0.0,0.0,0.0,21.0
7549,2008,1,5,6,1131.0,1115,1245.0,1225,WN,111,...,4.0,13.0,0,NaN,0,10.0,0.0,4.0,0.0,6.0
37560,2008,1,14,1,1746.0,1745,1948.0,1950,WN,1117,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
16609,2008,1,8,2,1110.0,1110,1220.0,1215,WN,3423,...,3.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99834,2008,1,1,2,1111.0,1105,1305.0,1245,XE,7672,...,18.0,19.0,0,NaN,0,0.0,0.0,14.0,0.0,6.0
46729,2008,1,17,4,1116.0,1105,1154.0,1155,WN,1951,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2528,2008,1,4,5,1300.0,1300,1549.0,1550,WN,521,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
97293,2008,1,3,4,717.0,715,832.0,827,XE,406,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
12262,2008,1,7,1,1941.0,1945,2108.0,2115,WN,1170,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
64114,2008,1,22,2,610.0,600,634.0,620,WN,2384,...,3.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
97869,2008,1,2,3,707.0,700,819.0,807,XE,428,...,4.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# Borrar Faltantes

In [42]:
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [43]:
df.dropna(thresh=25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99987,2008,1,17,4,2004.0,1935,2313.0,2257,XE,7676,...,5.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
99988,2008,1,18,5,2016.0,1935,2344.0,2257,XE,7676,...,4.0,35.0,0,NaN,0,11.0,0.0,6.0,0.0,30.0
99994,2008,1,24,4,1950.0,1935,2332.0,2257,XE,7676,...,5.0,52.0,0,NaN,0,0.0,0.0,20.0,0.0,15.0
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0

In [44]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99987,2008,1,17,4,2004.0,1935,2313.0,2257,XE,7676,...,5.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
99988,2008,1,18,5,2016.0,1935,2344.0,2257,XE,7676,...,4.0,35.0,0,NaN,0,11.0,0.0,6.0,0.0,30.0
99994,2008,1,24,4,1950.0,1935,2332.0,2257,XE,7676,...,5.0,52.0,0,NaN,0,0.0,0.0,20.0,0.0,15.0
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0

In [45]:
df.dropna(subset=["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98862,2008,1,27,7,NaN,1920,NaN,2045,XE,53,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
98915,2008,1,24,4,NaN,1105,NaN,1349,XE,531,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
99615,2008,1,5,6,NaN,1545,NaN,1711,XE,73,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
99878,2008,1,22,2,NaN,620,NaN,802,XE,7673,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
99991,2008,1,21,1,NaN,1935,NaN,2257,XE,7676,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN